{
    "presets": [ "next/babel" ],
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@errors": "./src/errors",
          "@features": "./src/features",
          "@services": "./src/services",
          "@slices": "./src/slices",
          "@utils": "./src/utils",
          "@api": "./pages/api",
          "@styles": "./styles",
          "@public": "./public",
          "@src": "./src"
        }
      }]
    ]
  }